@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 340 33% 98%;
    --foreground: 340 50% 10%;

    --primary: 341 77% 50%;
    /* rose 600 */
    --primary-foreground: 0 0% 100%;

    --card: 340 33% 98%;
    --card-foreground: 340 50% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 340 50% 10%;

    --secondary: 340 100% 95%;
    --secondary-foreground: 341 77% 20%;

    --muted: 340 20% 95%;
    --muted-foreground: 340 10% 40%;

    --accent: 340 100% 95%;
    --accent-foreground: 341 77% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 340 20% 90%;
    --input: 340 20% 90%;
    --ring: 341 77% 50%;

    --radius: 0.75rem;
  }

  .dark {
    --gradient: linear-gradient(to top left, #e11d48, #fb7185);
    /* cherry gradient */

    --background: 340 50% 3%;
    --foreground: 340 10% 97%;

    --muted: 340 30% 12%;
    --muted-foreground: 340 10% 60%;

    --popover: 340 40% 5%;
    --popover-foreground: 340 10% 97%;

    --card: 340 40% 5%;
    --card-foreground: 340 10% 97%;

    --border: 340 20% 15%;
    --input: 340 30% 12%;

    --primary: 341 95% 55%;
    --primary-foreground: 340 10% 97%;

    --secondary: 340 30% 12%;
    --secondary-foreground: 340 10% 97%;

    --accent: 340 30% 12%;
    --accent-foreground: 340 10% 97%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 341 95% 55%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@layer utilities {
  .scrollbar-medium::-webkit-scrollbar {
    width: 6px;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}